html {
    position: relative;
    min-height: 100%;
}

body {
    font-size: 14px;
    margin-bottom: 60px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    padding: 10px;
    text-align: center;
}

.field-validation-error{
    font-weight: bold;
}

.validation-summary-erros ul{
    list-style-type: none;
    padding: 0;
    font-weight: bold; 
}

.form-container {
    max-width: 600px;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}